{% extends "page.html" %}

{% set package_url = h.url_for('dataset.read', id=pkg_dict.id) %}
{% set user_is_allowed_actions = False%}
{% if c.user %}
{% set user_is_allowed_actions = h.requestdata_is_allowed_to_take_actions(c.user, pkg_dict.organization.id)%}
{% endif %}

{% block breadcrumb_content %}
  <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
  {% block breadcrumb_content_inner %}
    <li>{% link_for pkg_dict.organization.title|truncate(35), controller='organization', action='read', id=pkg_dict.organization.name %}</li>
    <li>
      {% set requested_data_url = h.url_for('requestdata_organization_requests', id=pkg_dict.organization.name) %}
      <a href="{{ requested_data_url }}">{{ _('Dataset Requests') }}</a>
    </li>
    <li class="active">
        {% set requested_data_url = h.url_for('request_data_blueprint.read_request', request_id=data_request.id, package_id=pkg_dict.id) %}
        <a href="{{ requested_data_url }}">{{ _('Dataset Request') }} - {{ pkg_dict.title }}</a>
    </li>
  {% endblock %}
{% endblock %}

{% block subtitle %}{{ _('Dataset Requests') }} {{ data_request.title }} - {{ super() }}{% endblock %}

{% block primary %}
  <div class="requests-main-container">
    {%- block read_data_request_section -%}
        {% snippet 'requestdata/snippets/section_item_' + data_request.state + '.html', item=data_request, template_type='user', index=0, single_item=True, user_is_allowed_actions=user_is_allowed_actions%}
    {%- endblock -%}
  </div>
{% endblock %}

{% block secondary %}{% endblock %}
