{% set sender_profile = h.url_for('user.read', id=item.sender_user_id) %}
{% set single_item = single_item if single_item is defined else False %}

<div class="row" {% if type == 'archive' and not single_item %}
    style="margin-right: 60px;"
  {% endif %}>
  <div class="{{ 'col-md-6' if single_item else 'col-md-12' }}">
    <a href="{{ sender_profile }}">
      {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=24) }}
    </a>
    {%- block requested_by_container_user-%}
    <a href="{{ sender_profile }}" title="{{ _('View profile') }}">{{ item.sender_name }}</a>
    {% if c.userobj.sysadmin %}
      | <span>{{ g.site_title }}</span>
    {% else %}
      {% if orgs | length == 1 %}
        {% set org_url = h.url_for('organization.read', id=orgs[0].name) %}
        {% set one_org = orgs[0] %}
        | <a href="{{ org_url }}">{{ orgs[0].title }}</a>
      {% elif orgs | length > 1 %}
        {% set more_orgs = [] %}
        {% for org in orgs[1:] %}
          {% if more_orgs.append(org.title) %}{% endif %}
        {% endfor %}
        {% set more_orgs = more_orgs | join(', ') %}
        | <a href="{{ org_url }}">{{ orgs[0].title }}</a> <span title="{{ more_orgs }}">({{ _('more') }})</span>
      {% endif %}
    {% endif %}
    {%- endblock -%}
  </div>

  {% set orgs = h.requestdata_get_orgs_for_user(item.sender_user_id) %}

  <div class="{{ 'col-md-6 text-right' if single_item else 'col-md-12' }}">
      {%- block requested_by_container_info_details -%}
      {% if one_org %}
        {% set role = h.requestdata_role_in_org(item.sender_user_id, orgs[0].name) %}
        <span><b>{{ role | capitalize }} -</b></span>
      {% endif %}

      {% if c.userobj.sysadmin %}
        <span><b>{{ _('Sysadmin') }} -</b></span>
      {% endif %}
      <span class="{{'text-right' if single_item else '' }}">{{ _('Requested on') }} {{ h.render_datetime(item.created_at, date_format='%-d %B %Y') }}</span>
      {%- endblock -%}
  </div>
  <div class="col-md-12">
      <p class="{{ 'lead text-justify' if single_item else '' }}">{{ item.message_content if single_item else item.message_content|truncate(35) }}</p>
  </div>
</div>

