
{#

Creates single item in a section.

item - The request that needs to be shown.

Example usage:
  {% snippet 'requestdata/snippets/section_item_new.html', item=item %}

#}

{% asset 'requestdata/modal-form' %}

{% set is_hdx_portal = h.requestdata_is_hdx_portal() %}

{% if not is_hdx_portal %}
  {% asset 'requestdata/new-requests-style' %}
{% endif %}

{% set package_url = h.url_for('dataset.read', id=item.package_id) %}
{% set single_item = single_item if single_item is defined else False %}
{% set user_is_allowed_actions = user_is_allowed_actions if user_is_allowed_actions is defined else False %}
{% if template_type == 'user' %}
{% set user_is_allowed_actions = True %}
{% endif %}

<div class="row {{ '' if single_item else 'row-striped' }}" style="{% if not single_item %}background-color: #FEFBED; {% if index == 1 %} border-top: 1px solid #CCCCCC {% endif %}{% endif %}">
    <div class="{{ 'col-md-12' if single_item else 'col-md-4' }}">
    <div class="{{ 'h2' if single_item else 'h4'}}">
      {% block data_request_section_title_inner %}
      <a href="{{ package_url }}" title="{{ item.title }}">{{ item.title }}</a>
      {% endblock %}
    </div>
    {% if template_type != 'user' %}
      <p style="font-weight: initial;">
        <span>{{ _('Maintained by') }} </span>
        {% if item.maintainers %}
          {% for m in item.maintainers %}
            {% set profile = h.url_for(controller='user', action='read', id=m.id) %}
            <a href="{{ profile }}" title="{{ _('View profile') }}">{{ m.fullname }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
        {% else %}
          <span>{{ _('Not found') }}</span>
        {% endif %}
      </p>
    {% endif %}
    {% if not single_item %}
    <div>
      {% set requested_data_url = h.url_for('request_data_blueprint.read_request', request_id=item.id, package_id=item.package_id) %}
      <a href="{{ requested_data_url }}">{{ _('See More') }}</a>
    </div>
    {% endif %}
    </div>

    <div class="{{ 'col-md-12' if single_item else 'col-md-6' }}">
    {% snippet 'requestdata/snippets/requested_by_container.html', item=item, single_item=single_item %}
    </div>

    <div class="{{ 'col-md-2 col-md-offset-10' if single_item else 'col-md-2' }}">
      {% set reply_action = h.url_for('user_blueprint.handle_new_request_action', username=c.userobj.name, request_action='reply') %}

      {% set maintainers = item.maintainers or [] %}
      
      {% set reply_post_data = h.dump_json({'id': item.id, 'package_id': item.package_id, 'state': 'open', 'send_to': item.email_address, 'package_name': item.title, 'maintainers': maintainers, 'requested_by': item.sender_name, 'sender_id': item.sender_user_id}) %}

      {% set reject_action = h.url_for('user_blueprint.handle_new_request_action', username=c.userobj.name, request_action='reject') %}

      {% set reject_post_data = h.dump_json({'id': item.id, 'package_id': item.package_id, 'state': 'archive', 'send_to': item.email_address, 'rejected': True, 'package_name': item.title, 'maintainers': maintainers, 'requested_by': item.sender_name, 'sender_id': item.sender_user_id}) %}

      {% if c.userobj %}
        {% set is_logged_in = 'true' %}
      {% else %}
        {% set is_logged_in = 'false' %}
      {% endif %}

      {% set redirect_url = h.url_for(controller='user', action='login') %}
      {% if c.userobj and user_is_allowed_actions %}
      <div class="requested-data-container-inline">
         <a {% block reply_button_class %} class="btn btn-primary requested-data-container__actions--reply" {% endblock %}
            style="margin-right: 8px;"
            data-module="modal-form"
            data-module-template_file="reply_request_form.html"
            data-module-submit_action="{{ reply_action }}"
            data-module-post_data="{{ reply_post_data }}"
            data-module-is_logged_in="{{ is_logged_in }}"
            data-module-redirect_url="{{ redirect_url }}"
            data-module-refresh_on_success="1"
            data-module-disable_action_buttons="1"
            data-module-message_content="{{ item.message_content }}">{{ _('Reply') }}</a>
      </div>|&nbsp;
      <div class="requested-data-container-inline">
         <a {% block reject_buttton_class %} class="requested-data-container__actions--reject" {% endblock %}
              style="font-weight: bold; cursor: pointer;"
              data-module="modal-form"
              data-module-template_file="reject_request_form.html"
              data-module-submit_action="{{ reject_action }}"
              data-module-post_data="{{ reject_post_data }}"
              data-module-is_logged_in="{{ is_logged_in }}"
              data-module-redirect_url="{{ redirect_url }}"
              data-module-refresh_on_success="1"
              data-module-disable_action_buttons="1"
              data-module-message_content="{{ item.message_content }}" style="border-color: transparent;">{{ _('Decline') }}</a>
      </div>
      {% endif %}
    </div>
</div>
