{#

Creates single item in a section.

item - The request that needs to be shown.

Example usage:
  {% snippet 'requestdata/snippets/section_item_open.html', item=item %}

#}

{% asset 'requestdata/handle-open-request' %}

{% set package_url = h.url_for('dataset.read', id=item.package_id) %}
{% set sender_profile = h.url_for('user.read', id=item.sender_user_id) %}
{% set single_item = single_item if single_item is defined else False %}

<div class="row {{ '' if single_item else 'row-striped' }}" style="{% if not single_item %}{% if index == 1 %} border-top: 1px solid #CCCCCC {% endif %}{%endif%}">
  <div class="{{ 'col-md-12' if single_item else 'col-md-4' }}" style="padding-top: 15px; padding-bottom: 15px;">
    <div class="{{ 'h2' if single_item else 'h4'}}">
      {% block data_request_section_title_inner %}
      <a href="{{ package_url }}" title="{{ item.title }}">{{ item.title }}</a>
      {% endblock %}
    </div>
    {% if not single_item %}
    <div>
      {% set requested_data_url = h.url_for('request_data_blueprint.read_request', request_id=item.id, package_id=item.package_id) %}
      <a href="{{ requested_data_url }}">{{ _('See More') }}</a>
    </div>
    {% endif %}
  </div>

  <div class="{{ 'col-md-12' if single_item else 'col-md-6' }}">
    {% snippet 'requestdata/snippets/requested_by_container.html', item=item, single_item=single_item %}
  </div>
  <div class="{{ 'col-md-2 col-md-offset-10' if single_item else 'col-md-2' }} padded" >
      {% if c.userobj %}
      {% set action_shared = h.url_for('user_blueprint.handle_open_request_action', username=c.userobj.name, request_action='shared') %}
      {% set post_data_shared = h.dump_json({'id': item.id, 'package_id': item.package_id, 'state': 'archive', 'data_shared': True}) %}

      {% set action_notshared = h.url_for('user_blueprint.handle_open_request_action', username=c.userobj.name, request_action='shared') %}
      {% set post_data_notshared = h.dump_json({'id': item.id, 'package_id': item.package_id, 'state': 'archive', 'data_shared': False}) %}

      <div class="requested-data-container__content-item--actions-text">{% trans %}Keep track of who you share datasets with. Did you share the dataset?{% endtrans %}</div>

      <div class="requested-data-container-inline">
        <a class="btn btn-primary requested-data-container__actions--data-shared"
          style="margin-right: 8px;"
          data-module="handle-open-request"
          data-module-action="{{ action_shared }}"
          data-module-post_data="{{ post_data_shared }}"
          data-module-refresh_on_success="1"
          data-module-disable_action_buttons="1">{{ _('Yes') }}</a>
      </div>
      <div class="requested-data-container-inline">
        <a class="btn requested-data-container__actions--data-notshared"
          style="font-weight: bold; cursor: pointer;"
          data-module="handle-open-request"
          data-module-action="{{ action_notshared }}"
          data-module-post_data="{{ post_data_notshared }}"
          data-module-refresh_on_success="1"
          data-module-disable_action_buttons="1">{{ _('No') }}</a>
      </div>
      {% endif %}
  </div>
</div>
